
Exercitiul 1/.idea/workspace.xml
.gitattributes
Exercitiul 1/.idea/.name
Exercitiul 1/.idea/Exercitiul 1.iml
Exercitiul 1/.idea/misc.xml
Exercitiul 1/.idea/modules.xml
Exercitiul 1/.idea/vcs.xml
Exercitiul 1/cmake-build-debug/.cmake/api/v1/query/cache-v2
Exercitiul 1/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Exercitiul 1/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Exercitiul 1/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Exercitiul 1/cmake-build-debug/.cmake/api/v1/reply/cache-v2-eb8e856715433aea27a3.json
Exercitiul 1/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-d8084ee53d8ff84de5b0.json
Exercitiul 1/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-48e3e00f71d7e99f8cfe.json
Exercitiul 1/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
Exercitiul 1/cmake-build-debug/.cmake/api/v1/reply/index-2024-03-18T17-38-25-0466.json
Exercitiul 1/cmake-build-debug/.cmake/api/v1/reply/target-Exercitiul_1-Debug-dc789b3e9a6768647f8a.json
Exercitiul 1/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-1a91e91f1c114e4c2010.json
Exercitiul 1/cmake-build-debug/.ninja_deps
Exercitiul 1/cmake-build-debug/.ninja_log
Exercitiul 1/cmake-build-debug/build.ninja
Exercitiul 1/cmake-build-debug/cmake_install.cmake
Exercitiul 1/cmake-build-debug/CMakeCache.txt
Exercitiul 1/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
Exercitiul 1/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
Exercitiul 1/cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
Exercitiul 1/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
Exercitiul 1/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/a.exe
Exercitiul 1/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
Exercitiul 1/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
Exercitiul 1/cmake-build-debug/CMakeFiles/clion-environment.txt
Exercitiul 1/cmake-build-debug/CMakeFiles/cmake.check_cache
Exercitiul 1/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
Exercitiul 1/cmake-build-debug/CMakeFiles/Exercitiul_1.dir/main.c.obj
Exercitiul 1/cmake-build-debug/CMakeFiles/rules.ninja
Exercitiul 1/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Exercitiul 1/cmake-build-debug/Exercitiul_1.exe
Exercitiul 1/cmake-build-debug/Testing/Temporary/LastTest.log
Exercitiul 1/CMakeLists.txt
Laborator 1, Part 1/.idea/misc.xml
Laborator 1, Part 2/CMakeLists.txt
Laborator 1, Part 2/cmake-build-debug/Testing/Temporary/LastTest.log
Laborator 1, Part 2/cmake-build-debug/Laborator_1__Part_2.exe
Laborator 1, Part 2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Laborator 1, Part 2/cmake-build-debug/CMakeFiles/rules.ninja
Laborator 1, Part 2/cmake-build-debug/CMakeFiles/Laborator_1__Part_2.dir/main.c.obj
Laborator 1, Part 2/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
Laborator 1, Part 2/cmake-build-debug/CMakeFiles/cmake.check_cache
Laborator 1, Part 2/cmake-build-debug/CMakeFiles/clion-environment.txt
Laborator 1, Part 2/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
Laborator 1, Part 2/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
Laborator 1, Part 2/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/a.exe
Laborator 1, Part 2/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
Laborator 1, Part 2/cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
Laborator 1, Part 2/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
Laborator 1, Part 2/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
Laborator 1, Part 2/cmake-build-debug/CMakeCache.txt
Laborator 1, Part 2/cmake-build-debug/cmake_install.cmake
Laborator 1, Part 2/cmake-build-debug/build.ninja
Laborator 1, Part 2/cmake-build-debug/.ninja_log
Laborator 1, Part 2/cmake-build-debug/.ninja_deps
Laborator 1, Part 2/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-1a91e91f1c114e4c2010.json
Laborator 1, Part 2/cmake-build-debug/.cmake/api/v1/reply/target-Laborator_1__Part_2-Debug-704a49b5be2b5bb182c7.json
Laborator 1, Part 2/cmake-build-debug/.cmake/api/v1/reply/index-2024-03-18T17-50-25-0577.json
Laborator 1, Part 2/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
Laborator 1, Part 2/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-d4d5d8d1cea8dbc5e414.json
Laborator 1, Part 2/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-9a72bf0ceec3c5f0bc1e.json
Laborator 1, Part 2/cmake-build-debug/.cmake/api/v1/reply/cache-v2-6d02598f049fa55146db.json
Laborator 1, Part 2/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Laborator 1, Part 2/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Laborator 1, Part 2/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Laborator 1, Part 2/cmake-build-debug/.cmake/api/v1/query/cache-v2
Laborator 1, Part 2/.idea/vcs.xml
Laborator 1, Part 2/.idea/modules.xml
Laborator 1, Part 2/.idea/misc.xml
Laborator 1, Part 2/.idea/Laborator 1, Part 2.iml
Laborator 1, Part 2/.idea/.name
Laborator 1, Part 1/CMakeLists.txt
Laborator 1, Part 1/cmake-build-debug/Testing/Temporary/LastTest.log
Laborator 1, Part 1/cmake-build-debug/Laborator_1__Part_1.exe
Laborator 1, Part 1/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Laborator 1, Part 1/cmake-build-debug/CMakeFiles/rules.ninja
Laborator 1, Part 1/cmake-build-debug/CMakeFiles/Laborator_1__Part_1.dir/main.c.obj
Laborator 1, Part 1/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
Laborator 1, Part 1/cmake-build-debug/CMakeFiles/cmake.check_cache
Laborator 1, Part 1/cmake-build-debug/CMakeFiles/clion-environment.txt
Laborator 1, Part 1/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
Laborator 1, Part 1/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
Laborator 1, Part 1/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/a.exe
Laborator 1, Part 1/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
Laborator 1, Part 1/cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
Laborator 1, Part 1/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
Laborator 1, Part 1/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
Laborator 1, Part 1/cmake-build-debug/CMakeCache.txt
Laborator 1, Part 1/cmake-build-debug/cmake_install.cmake
Laborator 1, Part 1/cmake-build-debug/build.ninja
Laborator 1, Part 1/cmake-build-debug/.ninja_log
Laborator 1, Part 1/cmake-build-debug/.ninja_deps
Laborator 1, Part 1/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-1a91e91f1c114e4c2010.json
Laborator 1, Part 1/cmake-build-debug/.cmake/api/v1/reply/target-Laborator_1__Part_1-Debug-e7d172b43f1ce491ff91.json
Laborator 1, Part 1/cmake-build-debug/.cmake/api/v1/reply/index-2024-03-18T17-49-45-0457.json
Laborator 1, Part 1/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
Laborator 1, Part 1/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-3ce7638882e8901d1e29.json
Laborator 1, Part 1/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-f875407ea603de7c0c2c.json
Laborator 1, Part 1/cmake-build-debug/.cmake/api/v1/reply/cache-v2-3cc41912f27e2f79b6ba.json
Laborator 1, Part 1/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Laborator 1, Part 1/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Laborator 1, Part 1/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Laborator 1, Part 1/cmake-build-debug/.cmake/api/v1/query/cache-v2
Laborator 1, Part 1/.idea/vcs.xml
Laborator 1, Part 1/.idea/modules.xml
Laborator 1, Part 1/.idea/Laborator 1, Part 1.iml
Laborator 1, Part 1/.idea/.name
Laborator 2/CMakeLists.txt
Laborator 2/cmake-build-debug/Testing/Temporary/LastTest.log
Laborator 2/cmake-build-debug/Laborator_2.exe
Laborator 2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Laborator 2/cmake-build-debug/CMakeFiles/rules.ninja
Laborator 2/cmake-build-debug/CMakeFiles/Laborator_2.dir/main.c.obj
Laborator 2/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
Laborator 2/cmake-build-debug/CMakeFiles/cmake.check_cache
Laborator 2/cmake-build-debug/CMakeFiles/clion-environment.txt
Laborator 2/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
Laborator 2/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
Laborator 2/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/a.exe
Laborator 2/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
Laborator 2/cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
Laborator 2/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
Laborator 2/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
Laborator 2/cmake-build-debug/CMakeCache.txt
Laborator 2/cmake-build-debug/cmake_install.cmake
Laborator 2/cmake-build-debug/build.ninja
Laborator 2/cmake-build-debug/.ninja_log
Laborator 2/cmake-build-debug/.ninja_deps
Laborator 2/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-1a91e91f1c114e4c2010.json
Laborator 2/cmake-build-debug/.cmake/api/v1/reply/target-Laborator_2-Debug-8edb2704ff2067851f19.json
Laborator 2/cmake-build-debug/.cmake/api/v1/reply/index-2024-03-18T17-54-14-0910.json
Laborator 2/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
Laborator 2/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-20f77b3e29750a057dd8.json
Laborator 2/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-22ec48132a865ddec413.json
Laborator 2/cmake-build-debug/.cmake/api/v1/reply/cache-v2-1d72d2c9b942a2163dd1.json
Laborator 2/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Laborator 2/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Laborator 2/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Laborator 2/cmake-build-debug/.cmake/api/v1/query/cache-v2
Laborator 2/.idea/vcs.xml
Laborator 2/.idea/modules.xml
Laborator 2/.idea/misc.xml
Laborator 2/.idea/Laborator 2.iml
Laborator 2/.idea/.name
Subliste/.idea/misc.xml
Subliste/.idea/modules.xml
Subliste/.idea/Subliste.iml
Subliste/.idea/vcs.xml
Subliste/cmake-build-debug/.cmake/api/v1/query/cache-v2
Subliste/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Subliste/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Subliste/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Subliste/cmake-build-debug/.cmake/api/v1/reply/cache-v2-76217872aacb2ddd65a5.json
Subliste/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-b82b2a0ed857743eae2c.json
Subliste/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-6c2e2fe1fbd50851b81f.json
Subliste/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
Subliste/cmake-build-debug/.cmake/api/v1/reply/index-2024-03-18T17-57-32-0727.json
Subliste/cmake-build-debug/.cmake/api/v1/reply/target-Subliste-Debug-fdc460063a40c83e9504.json
Subliste/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-1a91e91f1c114e4c2010.json
Subliste/cmake-build-debug/build.ninja
Subliste/cmake-build-debug/cmake_install.cmake
Subliste/cmake-build-debug/CMakeCache.txt
Subliste/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
Subliste/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
Subliste/cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
Subliste/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
Subliste/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/a.exe
Subliste/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
Subliste/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
Subliste/cmake-build-debug/CMakeFiles/clion-environment.txt
Subliste/cmake-build-debug/CMakeFiles/cmake.check_cache
Subliste/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
Subliste/cmake-build-debug/CMakeFiles/rules.ninja
Subliste/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Subliste/cmake-build-debug/Testing/Temporary/LastTest.log
Subliste/CMakeLists.txt
Laborator 3/.idea/.name
Laborator 3/.idea/Laborator 3.iml
Laborator 3/.idea/misc.xml
Laborator 3/.idea/modules.xml
Laborator 3/.idea/vcs.xml
Laborator 3/cmake-build-debug/.cmake/api/v1/query/cache-v2
Laborator 3/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Laborator 3/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Laborator 3/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Laborator 3/cmake-build-debug/.cmake/api/v1/reply/cache-v2-f676389aadf2b1c56f8a.json
Laborator 3/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-9e253b36c07330d8cf3a.json
Laborator 3/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-4827349d07e59e7a9796.json
Laborator 3/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
Laborator 3/cmake-build-debug/.cmake/api/v1/reply/index-2024-03-18T18-06-15-0969.json
Laborator 3/cmake-build-debug/.cmake/api/v1/reply/target-Laborator_3-Debug-e5fc0d686ff540c944fd.json
Laborator 3/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-1a91e91f1c114e4c2010.json
Laborator 3/cmake-build-debug/.ninja_deps
Laborator 3/cmake-build-debug/.ninja_log
Laborator 3/cmake-build-debug/build.ninja
Laborator 3/cmake-build-debug/cmake_install.cmake
Laborator 3/cmake-build-debug/CMakeCache.txt
Laborator 3/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
Laborator 3/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
Laborator 3/cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
Laborator 3/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
Laborator 3/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/a.exe
Laborator 3/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
Laborator 3/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
Laborator 3/cmake-build-debug/CMakeFiles/clion-environment.txt
Laborator 3/cmake-build-debug/CMakeFiles/cmake.check_cache
Laborator 3/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
Laborator 3/cmake-build-debug/CMakeFiles/Laborator_3.dir/main.c.obj
Laborator 3/cmake-build-debug/CMakeFiles/rules.ninja
Laborator 3/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Laborator 3/cmake-build-debug/Laborator_3.exe
Laborator 3/cmake-build-debug/Testing/Temporary/LastTest.log
Laborator 3/CMakeLists.txt
Testing/cmake-build-debug/Testing/Temporary/LastTest.log
Testing/cmake-build-debug/Testing.exe
Testing/cmake-build-debug/CMakeFiles/Testing.dir/main.c.obj
Testing/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Testing/cmake-build-debug/CMakeFiles/rules.ninja
Testing/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
Testing/cmake-build-debug/CMakeFiles/cmake.check_cache
Testing/cmake-build-debug/CMakeFiles/clion-environment.txt
Testing/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
Testing/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
Testing/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/a.exe
Testing/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
Testing/cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
Testing/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
Testing/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
Testing/cmake-build-debug/CMakeCache.txt
Testing/cmake-build-debug/cmake_install.cmake
Testing/cmake-build-debug/build.ninja
Testing/cmake-build-debug/.ninja_log
Testing/cmake-build-debug/.ninja_deps
Testing/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-1a91e91f1c114e4c2010.json
Testing/cmake-build-debug/.cmake/api/v1/reply/target-Testing-Debug-d34d70c67e4d01b9e79d.json
Testing/cmake-build-debug/.cmake/api/v1/reply/index-2024-04-14T09-57-29-0136.json
Testing/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
Testing/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-5be504783092d45dd07d.json
Testing/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-248a9d985cb326ec842c.json
Testing/cmake-build-debug/.cmake/api/v1/reply/cache-v2-33687389217a06e52781.json
Testing/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Testing/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Testing/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Testing/cmake-build-debug/.cmake/api/v1/query/cache-v2
Exercitiul 2/cmake-build-debug/Testing/Temporary/LastTest.log
Exercitiul 2/cmake-build-debug/Exercitiul_2.exe
Exercitiul 2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Exercitiul 2/cmake-build-debug/CMakeFiles/rules.ninja
Exercitiul 2/cmake-build-debug/CMakeFiles/Exercitiul_2.dir/main.c.obj
Exercitiul 2/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
Exercitiul 2/cmake-build-debug/CMakeFiles/cmake.check_cache
Exercitiul 2/cmake-build-debug/CMakeFiles/clion-environment.txt
Exercitiul 2/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
Exercitiul 2/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
Exercitiul 2/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/a.exe
Exercitiul 2/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
Exercitiul 2/cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
Exercitiul 2/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
Exercitiul 2/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
Exercitiul 2/cmake-build-debug/CMakeCache.txt
Exercitiul 2/cmake-build-debug/cmake_install.cmake
Exercitiul 2/cmake-build-debug/build.ninja
Exercitiul 2/cmake-build-debug/.ninja_log
Exercitiul 2/cmake-build-debug/.ninja_deps
Exercitiul 2/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-1a91e91f1c114e4c2010.json
Exercitiul 2/cmake-build-debug/.cmake/api/v1/reply/target-Exercitiul_2-Debug-0d8dc6bd7b5d9d271936.json
Exercitiul 2/cmake-build-debug/.cmake/api/v1/reply/index-2024-04-12T16-39-31-0018.json
Exercitiul 2/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
Exercitiul 2/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-965652eaa3c17b3e4339.json
Exercitiul 2/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-53ccce17fed12804ad8e.json
Exercitiul 2/cmake-build-debug/.cmake/api/v1/reply/cache-v2-8c75662404f024548a10.json
Exercitiul 2/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Exercitiul 2/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Exercitiul 2/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Exercitiul 2/cmake-build-debug/.cmake/api/v1/query/cache-v2
Exercitiul 2/.idea/vcs.xml
Exercitiul 2/.idea/modules.xml
Exercitiul 2/.idea/misc.xml
Exercitiul 2/.idea/Exercitiul 2.iml
Exercitiul 2/.idea/.name
Exercitiul 2/CMakeLists.txt
Testing/.idea/misc.xml
Testing/.idea/modules.xml
Testing/.idea/Testing.iml
Testing/.idea/vcs.xml
Testing/CMakeLists.txt
