
Exercitiul 1/.idea/workspace.xml
.gitattributes
Exercitiul 1/.idea/.name
Exercitiul 1/.idea/Exercitiul 1.iml
Exercitiul 1/.idea/misc.xml
Exercitiul 1/.idea/modules.xml
Exercitiul 1/.idea/vcs.xml
Exercitiul 1/cmake-build-debug/.cmake/api/v1/query/cache-v2
Exercitiul 1/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Exercitiul 1/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Exercitiul 1/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Exercitiul 1/cmake-build-debug/.cmake/api/v1/reply/cache-v2-eb8e856715433aea27a3.json
Exercitiul 1/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-d8084ee53d8ff84de5b0.json
Exercitiul 1/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-48e3e00f71d7e99f8cfe.json
Exercitiul 1/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
Exercitiul 1/cmake-build-debug/.cmake/api/v1/reply/index-2024-03-18T17-38-25-0466.json
Exercitiul 1/cmake-build-debug/.cmake/api/v1/reply/target-Exercitiul_1-Debug-dc789b3e9a6768647f8a.json
Exercitiul 1/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-1a91e91f1c114e4c2010.json
Exercitiul 1/cmake-build-debug/.ninja_deps
Exercitiul 1/cmake-build-debug/.ninja_log
Exercitiul 1/cmake-build-debug/build.ninja
Exercitiul 1/cmake-build-debug/cmake_install.cmake
Exercitiul 1/cmake-build-debug/CMakeCache.txt
Exercitiul 1/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
Exercitiul 1/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
Exercitiul 1/cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
Exercitiul 1/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
Exercitiul 1/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/a.exe
Exercitiul 1/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
Exercitiul 1/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
Exercitiul 1/cmake-build-debug/CMakeFiles/clion-environment.txt
Exercitiul 1/cmake-build-debug/CMakeFiles/cmake.check_cache
Exercitiul 1/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
Exercitiul 1/cmake-build-debug/CMakeFiles/Exercitiul_1.dir/main.c.obj
Exercitiul 1/cmake-build-debug/CMakeFiles/rules.ninja
Exercitiul 1/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Exercitiul 1/cmake-build-debug/Exercitiul_1.exe
Exercitiul 1/cmake-build-debug/Testing/Temporary/LastTest.log
Exercitiul 1/CMakeLists.txt
